.nav_Menu a:hover, .footer a:hover, .formulario_Btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

.nav_Menu {
  background: #ad2ef5;
  background: -webkit-gradient(linear, left top, left bottom, from(#ad2ef5), color-stop(24%, #ba0aff), color-stop(55%, white));
  background: linear-gradient(180deg, #ad2ef5 0%, #ba0aff 24%, white 55%);
  border-bottom: 2px solid #520f70;
  height: auto;
}

.nav_Menu a {
  text-decoration: none;
  color: #520f70;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.nav_Menu a:hover {
  cursor: pointer;
  color: #a205fd;
}

.nav_Menu .nav-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_Menu .nav-elements .navbar-toggler-icon {
  z-index: 1000;
  color: #520f70;
}

.footer {
  background: #ad2ef5;
  background: -webkit-gradient(linear, left bottom, left top, from(#ad2ef5), color-stop(16%, #ba0aff), color-stop(38%, white));
  background: linear-gradient(0deg, #ad2ef5 0%, #ba0aff 16%, white 38%);
  height: auto;
  border-top: 2px solid #520f70;
}

.footer a {
  text-decoration: none;
  color: #520f70;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.footer a:hover {
  cursor: pointer;
  color: #a205fd;
}

@media only screen and (min-width: 320px) {
  body {
    background-color: #9e1d6d;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #b49191;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background-color: white;
  }
}

.info-inicio {
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 20px;
  background-color: black;
}

.info-inicio .info-frases {
  margin: auto;
}

.info-inicio .info-frases .info-titulo {
  font-size: 40px;
}

.info-inicio .info-frases .info-text {
  font-size: 20px;
}

.nosotros_Title {
  border-bottom: 2px solid #520f70;
  padding: 25px;
}

.infoUs_Uno {
  margin: auto;
  height: 380px;
  line-height: 30px;
  text-align: justify;
  padding: 15px 15px 0px 15px;
  line-height: 35px;
  font-family: 'Roboto', sans-serif;
}

.imagenUs {
  width: 400px;
  height: 400px;
}

.nosotros_vm {
  width: 70%;
}

.ceo {
  padding: 25px;
  background-color: black;
}

.ceo .ceo_foto {
  margin: auto;
}

.ceo .ceo_foto .img_ceo {
  width: 200px;
  height: 200px;
  -o-object-fit: none;
     object-fit: none;
  border-radius: 50%;
}

.ceo .ceo_info {
  text-align: justify;
  line-height: 35px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.servicios_Btn {
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  background: -webkit-gradient(linear, right bottom, left top, from(#6a00a7), to(#dee8f3));
  background: linear-gradient(to left top, #6a00a7, #dee8f3);
  border: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.servicios_Btn:hover {
  cursor: pointer;
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  color: white;
}

.card-text {
  cursor: default;
  padding-bottom: 20px;
}

.opiniones_Carousel {
  width: 70%;
  height: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  color: #050505;
  border: 1px solid #520f70;
  font-weight: bold;
}

.opiniones_Carousel .opiniones_Carousel_Tarjetas .opiones_Tarjetas .img-cuadro img {
  border-radius: 50%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  -webkit-filter: invert(5);
          filter: invert(5);
}

.usuario {
  -o-object-fit: cover;
     object-fit: cover;
}

.opiones_Tarjetas {
  margin-bottom: 20px;
}

.formulario {
  width: 400px;
  height: auto;
  background-color: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  color: white;
  -webkit-box-shadow: 7px 13px 37px #000;
          box-shadow: 7px 13px 37px #000;
}

.formulario_Style {
  width: 100%;
  height: auto;
  background-color: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #520f70;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.formulario_Style:focus {
  height: 60px;
  background-color: #32243cc5;
}

.formulario_Text {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.formulario_Btn {
  width: 40%;
  height: 45px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 4px;
  border: none;
  color: black;
  text-transform: uppercase;
  background: -webkit-gradient(linear, right bottom, left top, from(#6a00a7), to(#dee8f3));
  background: linear-gradient(to left top, #6a00a7, #dee8f3);
  font-size: 20px;
  font-weight: bold;
}

.formulario_Btn:hover {
  cursor: pointer;
  color: white;
}

.formulario_Btn:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  background: -webkit-gradient(linear, right bottom, left top, from(#dee8f3), to(#6a00a7));
  background: linear-gradient(to left top, #dee8f3, #6a00a7);
}
/*# sourceMappingURL=style.css.map */