@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.textInitial{
  background-color: rgba(209, 209, 209, 0.144);
  border-radius: 5%;
}
.formulario_Text{
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.formulario{
  background-color: #24303c;
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
  border: 1px solid black;
  font-weight: bold;
}
.formulario_Style{
  width: 100%;
  background-color: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #7a1fc5;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  
}
.formulario_Btn{
  width: 40%;
  height: 45px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 4px;
  border:none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  background: linear-gradient(to left top, #6a00a7,#dee8f3);
  font-size: 20px;
  font-weight: bold;
  
}
.formulario_Btn:hover{
  cursor:pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
  color: rgb(255, 255, 255);
}
.formulario_Btn:active{
  transform:translateY(3px);
  background: linear-gradient(to left top,#dee8f3, #6a00a7);
}

.formulario_Style:focus{
  height: 60px;
  background-color: #32243cc5;
} 
.contacto_Mapa{
  width: 350px;
  height:400px;
  background-color: #000;
}
.contacto_Imagen_Mapa{
  width: 100%;
  height: 400px;
}
.contacto_Info{
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}
.Btn_offcanvas{
  width: 100%;
  height: 45px;
  margin-top: 0;
  margin-left: 20px;
  border-radius: 4px;
  border:none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  background: linear-gradient(to left top, #24303c,#dee8f3);
  font-size: 20px;
  font-weight: bold;
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}
