/* BANNER Y PIE CON GRID */
*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  font-family: 'Orienta', sans-serif;
  display: grid;
  grid-template-areas: 
  "arriba arriba arriba arriba arriba"
  "medio medio medio medio medio"
  "medio medio medio medio medio"
  "medio medio medio medio medio"
  "abajo abajo abajo abajo abajo"
  ;
}
/* header */
.pageBanner{
  grid-area: arriba;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.48503151260504207) 74%, rgba(133,4,184,1) 95%, rgba(121,6,191,1) 100%);
  width: 100%;
  height: 130px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  align-items: center;
  border-bottom: 2px solid #520f70;
}
.menu{
  list-style: none;
  width: 40%;
  margin:auto;
  align-items: center;
  
}
.menu ul li{
  display: inline-block;
  margin-left: 0px;
  margin: 2%;
  font-size: 100%;
}
.menu ul li a{
  text-decoration: none;
  color: #520f70;
  font-weight: bold;
}
.menuhover:hover{
  color: rgb(209, 135, 238);
  text-decoration-line: underline ;
  text-decoration-color: #520f70;
}
.logo{
  display: inline;
  margin-left: 5px;
  align-self: auto;
  height: 90px;
  width: 270px;
}
/* Cuerpo */
.pageContent{
  grid-area: medio;
  text-align: center;
  /* min-height: calc(100vh - 130px - 10px); */
}

/* Pié de página */
.pageFoot{
  grid-area: abajo;
  background: rgb(121,6,191);
  background: linear-gradient(0deg, rgba(121,6,191,1) 0%, rgba(133,4,184,1) 5%, rgba(255,255,255,0.48503151260504207) 34%);
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  margin-bottom:0%;
  padding: 1em 0;
  border-top: 2px solid #520f70;
}
.pageFoot span{
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  font-size: 25px;
  background: linear-gradient(rgb(153, 0, 255),rgb(187, 11, 158));
  -webkit-background-clip: text;
  color: transparent; 
}
.redes{
  list-style: none;
  display: flex;
  align-items: center;
}
.redes li{
  display: inline;
  margin: 10%;
}
.redes li a{
  color:#520f70;  
}
i:hover{
  color:#ab38e0e0; 
}
.footpage{
  width: 90%;
  height: 25px;
  color: rgb(0, 0, 0); 
  font-style: italic;
  font-size: 10px;
  font-weight: normal;
  padding: 0px 0px 0px 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*INDEX*/
.imgInicial{
  width: 70%;
  display: block;
  margin-top: 130px;
}
.textInitial{
  background-color: rgb(209, 209, 209);
  width: 30%;
  position: absolute;
  z-index: 1;
  bottom: 90px;
  right: 15px;
  line-height: 30px;
  border-radius: 5%;
  padding: 1%;
}

/*NOSOTROS*/
.banner_Us, .banner_Services, .banner_Testi, .banner_Contact{
  width: 100%;
  margin-top: 130px;  
}
.botonesUs{
  width: 300px;
  height: 400px;
  display:inline-block;
  margin: 10px 8px;
  position: relative;
  padding-top: 50px;
  background-color: red;
}
.boton1, .boton2, .boton3{
  background-color: #0f1e70;
  width: 250px;
  font-size: 20px;
  border-radius: 50% 20% / 10% 40%;
  text-align: center;
  line-height: 40px;
  margin: 15%;
  color: rgb(255, 255, 255);
  z-index: 10;
}
.btnUs:hover{
  background-color: rgb(230, 92, 230);
  cursor: pointer;
  
}
.infoUs_Uno{
  background-color: rgb(243, 243, 243);
  width: 550px;
  height: 380px;
  display:inline-block;
  position: absolute;
  line-height: 30px;
  text-align: justify;
  font-size: 20px;
  padding: 20px 20px 0px 20px;
  top: 550px;
  left: 320px;
}

.imagenUs{
  width: 400px;
  height: 400px;
  position:absolute;
  top: 550px;
  left: 925px;
} 
.infoUs_2{
  vertical-align: middle;
}
.img_QuienesSomos{
  width: 400px;
  height: 400px;
}
/*SERVICIOS*/
.boxServices{
  background-color: rgb(255, 255, 255);
  width: 1200px;
  height: 400px;
  margin: auto;
}
.box1{
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
}
.img_Services{
  width: 289.5px;
  height: 362.1px;
}
.box1:hover{
  border: solid 2px #af01be;
  cursor: pointer;
}

/*Testimonios*/
.galeria_Testimonios{
  display: flex;
  width: 70%;
  margin:auto;
  overflow-x: scroll;
}
.usuario{
  border: solid 1px #cecece;
  border-radius: 5px;
  background-color: #fff;
  width: 200px;
  height: 300px;
  margin: 10px;
  scrollbar-color: rgba(247, 3, 255, 0.534) rgb(212, 0, 255);
}
.usuario:hover{
  border: solid 2px #af01be;
  background-color: rgb(243, 194, 243);
  cursor: pointer;
}
.pageContent span{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  background: linear-gradient(rgb(153, 0, 255),rgb(187, 11, 158));
  -webkit-background-clip: text;
  color: transparent; 
}
/*Contact*/
.box_Form{
  width: 40%;
  border: 2px solid rgba(207, 7, 247, 0.274);
  border-radius: 1%;
  color:rgb(122, 122, 122);
  position: relative;
  right: 100px;
  left: 50px;
  margin-bottom: 10px;
  
}
.form{
  width: 310px;
  margin: auto;
  background-color: white;
  border-radius: 3%;
  padding: 15px;
}
.style_Form{
  border: solid 1px rgb(218, 218, 218);
  width: 280px;
  height: 30px;
}
.style_Form:focus{
  border-color:rgb(165, 73, 231);
}
.box_elementForm{
  margin:1px;
  padding: 5px;
  
}
.banner_Contact, .banner_Services, .banner_Testi, .banner_Us{
  width: 100%;
}
::placeholder {
  font-size: 15px;
  color: rgb(228, 218, 218);
}
.btn{
  border-radius: 3px;
  padding: 15px 15px;
  color:white;
  font-weight: bold;
  background-color:#520f70;
  border: 0ch;
}
.box_btn{
  align-items: center;
  position: relative;
  margin-left: 50%;
}
.btn:hover{
  background-color: rgb(230, 92, 230);
  cursor: pointer;
}
.btn:active{
  background-color: rgb(238, 186, 238);
}
#tel_personal{
  background-color: #520f70;;
}
select{
  border: 0ch;
  font-size: 15px;
  color:rgb(122, 122, 122);
  border: solid 1px rgb(218, 218, 218);
  width: 280px;
  height: 30px;
}
.datos_Form{
  width: 50%;
  margin: auto;
  text-align: center;
  color: #520f70;
  font-size: 30px;
  padding: 5px;
  text-shadow: 0 1px 0 rgba(133, 2, 145, 0.952);
}
.box_FormContact{
  width: 40%;
  height: 400px;
  position: absolute;
  margin-top: 0px;
  display: inline-block;
  z-index: 3;
  top: 700px;
  left: 700px;
}
.info_Contact{
  margin: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.maps{
  display: flex;
  width: 100%;
  height:400px;
  position: absolute;
  left: 10px;
}

/*Media Query*/
@media only screen and (max-width:780px) {
  /*Banner - Pie de Página*/

  .pageFoot{
    align-self: flex-start;

  }
  .banner_Us, .banner_Services, .banner_Testi, .banner_Contact{
    width: 100%;
    margin-top: 200px;  
  }
  .pageBanner{
    flex-direction: column;
    height: 200px;
  }
  .menu{    
    background-color: #8c32b6;
  }
  .menu ul li{
    text-align: center;
    display: block;
    margin: 0.5%;
    border: 2px solid black;
    color: white;
  }
  .menu ul li a{
    color: white;
    font-weight: normal;
  }
  .logo{
    height: 60px;
    width: 180px;
  }
  .pageFoot span{
    font-size: 15px;
  }

  /*Index*/
  .pageContent{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    width: 100%;
  }
  .imgInicial{
    width: 100%;
    display: flex;
    padding-top: 80px;
  }
  .textInitial{
    position: relative;
    width: 90%;
    display: inline;
    margin-top: 100px;
    background-color: rgba(209, 209, 209, 0);
    border: 1px solid rgba(141, 141, 141, 0.37);
    margin-left: auto;
  }
  /*Nosotros*/
  .botonesUs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70px;
    padding-top: 2px;
    margin-top: auto;
  }
  .boton1, .boton2, .boton3{
    background-color: #ffffff;
    width: 30%;
    font-size: 20px;
    border-radius: 0;
    margin: auto;
    color: #520f70;
    border: 2px solid rgba(141, 141, 141, 0.37);
    height: 60px;
  } 
  .boton1{
    line-height: 30px;
  }
  .boxUs{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .infoUs_Uno{
    width: 90%;
    height: auto;
    margin-top: 0;
    top: 500px;
    left: 10px;
    line-height: 20px;
    font-size: 15px;
  } 
  /*SERVICIOS*/
  .boxServices{
    width: 100%;
  }  
  /*Testimonios*/
  .galeria_Testimonios{
    width: 100%;
  }
  .usuario{
    width: 40%;
  }
  .pageContent span{
    font-size: 15px;
  } 
  /*Contacto*/
  .box_Form{
    width: 80%;
    position: relative;
    right: 100px;
    left: 50px;
    margin-bottom: 10px;
  }
  .datos_Form, .info_Contact{
    font-size: 20px;
  }
  .box_FormContact{
    width: 85%;
    position: relative;
    display: inline;
    margin: auto;
    top: 0;
    left: 0;
  }

  
  
}