
.infoUs_Uno{
  margin: auto;
  height: 380px;
  line-height: 30px;
  text-align: left;
  padding: 15px 15px 0px 15px;
  font-family: 'Roboto', sans-serif;
  height: auto;
  .nosotros_Title{
    border-bottom: 2px solid map-get($colores, primario);
    padding: 25px;
  }
  .img_Us{
    width: 100%;
  }
} 

.us_mision-vision{
  background-color: map-get($colores, primario);
  padding: 30px;
  color: white;
  .nosotros_Title2{
    border-bottom: 2px solid white;   
  }
}
.ceo{
  margin: 40px;
  padding: 25px;
  background-color: black;
  .ceo_foto{
    margin: auto;
    .img_ceo{
      width: 200px;
      height: 200px;
      object-fit: none;
      border-radius: 50%;
    }
    .blockquote-footer{
      margin-top: 10px;
      width: 200px;
    }
  }
  .ceo_info{
    text-align: left;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
}