.opiniones_Carousel{
  width: 70%;
  height: 500px;
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  color: rgb(5, 5, 5);
  border: 1px solid map-get($colores, primario);
  font-weight: bold;
  .opiones_Tarjetas{
    margin-bottom: 20px;
    .img-cuadro{
      width: 200px;
      height: 200px;
      .usuario{
        object-fit: cover;
      }
    }
    .blockquote-footer{
      margin-top: 10px;
      height: 300px;
    }
  }
}

.opiniones_Carousel .opiniones_Carousel_Tarjetas .opiones_Tarjetas .img-cuadro img{
  border-radius: 50%;
}
.carousel-indicators [data-bs-target]{
  background-color:map-get($colores, primario);
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(5);
}


