*{
  margin: 0;
  padding: 0; 
}
.nav_Menu{
  width: 100%;
  background: map-get($colores, bg);
  background: linear-gradient(180deg, rgba(173,46,245,1) 0%, rgba(186,10,255,1) 24%, rgba(255,255,255,1) 55%);
  border-bottom: 2px solid map-get($colores, primario);
  height: $altura-nav-foot;
  .logo{
    width: 220px;
  }
  a{
    text-decoration: none;
    color: map-get($colores, primario);
    transition: all 0,5s;
    &:hover{
      cursor:pointer;
      @extend %transfor;
      color: map-get($colores, hover-color);
    }
  }
  .nav-elements{
    display: flex;
    justify-content: space-between;
    .navbar-toggler{
      padding: 0px;
    }
    .navbar-toggler-icon{
      z-index: 1000;
      color: map-get($colores, primario);
    }
  }
}

.footer{
  background: map-get($colores, bg);
  background: linear-gradient(0deg, rgba(173,46,245,1) 0%, rgba(186,10,255,1) 16%, rgba(255,255,255,1) 38%);
  height: $altura-nav-foot;
  border-top: 2px solid map-get($colores, primario);
  a{
    text-decoration: none;
    color: map-get($colores, primario);
    transition: all 3s;
    &:hover{
      cursor:pointer;
      @extend %transfor;
      color: map-get($colores, hover-color);
    }
  }  
}

@include mediaQuery (mobile){
  .carousel-control-next-icon, .carousel-control-prev-icon {
    visibility: visible;
  }
  .formulario{
    width: auto;
  }
}
@include mediaQuery (tablet){
  .carousel-control-next-icon, .carousel-control-prev-icon {
    visibility: hidden;
  }
}
@include mediaQuery (desktop){
  body{
    background-color: rgb(255, 255, 255);
  } 
  .blockquote-footer{
    width: 500px;
    margin: auto;
  }
}
