*{
  margin: 0;
  padding: 0; 
}
.nav_Menu{
  background: map-get($colores, bg);
  background: linear-gradient(180deg, rgba(173,46,245,1) 0%, rgba(186,10,255,1) 24%, rgba(255,255,255,1) 55%);
  border-bottom: 2px solid map-get($colores, primario);
  height: $altura-nav-foot;
  a{
    text-decoration: none;
    color: map-get($colores, primario);
    transition: all 3s;
    &:hover{
      cursor:pointer;
      @extend %transfor;
      color: map-get($colores, hover-color);
    }
  }
}

.footer{
  background: map-get($colores, bg);
  background: linear-gradient(0deg, rgba(173,46,245,1) 0%, rgba(186,10,255,1) 16%, rgba(255,255,255,1) 38%);
  height: $altura-nav-foot;
  border-top: 2px solid map-get($colores, primario);
  a{
    text-decoration: none;
    color: map-get($colores, primario);
    transition: all 3s;
    &:hover{
      cursor:pointer;
      @extend %transfor;
      color: map-get($colores, hover-color);
    }
  }  
}
.navbar-toggler-icon{
  z-index: 1000;
  color: map-get($colores, primario);
}

@include mediaQuery (mobile){
  body{
    background-color: rgb(158, 29, 109);
  }
}
@include mediaQuery (tablet){
  body{
    background-color: rgb(180, 145, 145);
  }
}
@include mediaQuery (desktop){
  body{
    background-color: rgb(86, 223, 68);
  }
}
